.single-related-articles {
  border-top: 1px solid #ced4da;
  padding-top: 10px;
  .related-articles-list {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style-type: disc;
    list-style-position: inside;
  }
  .media {
    margin-bottom: 10px;
    padding-top: 10px;
    border-top: 1px solid #ced4da;
    &:first-child,
    &:nth-child(3) {
      border-top: 1px solid transparent;
    }
    img {
      max-width: 80px;
    }
    a {
      color: inherit;
    }
  }
  .title {
    line-height: 1.2;
    min-height: 32px;
  }
  .meta {
    font-size: 12px;
    color: #666;
  }
}
