.single-related-articles {
  border-top: 1px solid #ced4da;
  padding-top: 10px;
}
.single-related-articles .related-articles-list {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  list-style-type: disc;
  list-style-position: inside;
}
.single-related-articles .media {
  margin-bottom: 10px;
  padding-top: 10px;
  border-top: 1px solid #ced4da;
}
.single-related-articles .media:first-child,
.single-related-articles .media:nth-child(3) {
  border-top: 1px solid transparent;
}
.single-related-articles .media img {
  max-width: 80px;
}
.single-related-articles .media a {
  color: inherit;
}
.single-related-articles .title {
  line-height: 1.2;
  min-height: 32px;
}
.single-related-articles .meta {
  font-size: 12px;
  color: #666;
}
