/*Single*/
// Dưới title
.entry-meta {
  ul {
    list-style: none;
    padding: 0;
    font-style: italic;
    margin: 0 0 10px 0;
    &:after {
      content: '';
      clear: both;
      display: table;
    }
    a {
      color: inherit;
    }
    .post-author a {
      text-transform: capitalize;
    }
    li {
      float: left;
      margin-right: 5px;
    }
  }
}
// Dưới content
.app_post_navigation {
  a {
    color: inherit;
  }
  .nav-links {
    border-top: 1px solid #ced4da;
    padding-top: 10px;
    margin-bottom: 10px;
    &:after {
      content: '';
      clear: both;
      display: table;
    }
  }
  .nav-previous,
  .nav-next {
    width: 40%;
    float: left;
  }
  .nav-next {
    text-align: right;
    float: right;
  }
}
// Comment
.comments-wrapper {
  border-top: 1px solid #ced4da;
  padding-top: 10px;
  .comment-reply-title,
  .comments-title {
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.1818em;
    margin-bottom: 0;
    text-transform: uppercase;
  }
  .media-heading{
    font-size: 18px;
    margin: 0;
  }
}
// Phân trang của Page
.post-nav-links .post-page-numbers {
  padding: 0 3px;
}
