/* ---------------------------------------------- template-magazine */
.template-magazine {
  .row{
    padding-bottom: 20px;
  }
  .col{
    border-left: 1px solid #ced4da;
    &:first-child{
      border-left: 1px solid transparent;
    }
  }
}
